
@font-face {
	font-family: 'Conv_BlackberryBlues';
	src: url('../fonts/BlackberryBlues.eot');
	src: url('../fonts/BlackberryBlues.woff') format('woff'), url('../fonts/BlackberryBlues.ttf') format('truetype'), url('../fonts/BlackberryBlues.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.parallax { 
	background: url("../images/Aitor1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	height: calc(100% - 50px);
	width: 100%;
}

body{
	background: url("../images/Aitor2.jpg") no-repeat center center fixed; 	
}

html, body {
    	height: 100%;	
	color: #E14A51;
}

h1, .navbar-header, .navbar-nav {
	font-family: 'Conv_BlackberryBlues', 'Arial', serif;
	color: #E14A51; /* #77A193, #4E5B5C*/	
}

.jumbotron{
	background-color:transparent;
}

.navbar{
	font-family: 'Conv_BlackberryBlues', 'Arial', serif;
	background-color:#4E5B5C;
	border-color: #4E5B5C
}
.navbar-default .navbar-nav>li>a{
	font-family: 'Conv_BlackberryBlues', 'Arial', serif;
	color: #E14A51; /* #77A193, #4E5B5C*/
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #77A193;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFD6B8;
  background-color: #77A193;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4E5B5C;
  background-color: #77A193;
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
