
@font-face {
	font-family: 'Conv_BlackberryBlues';
	src: url('../fonts/BlackberryBlues.eot');
	src: url('../fonts/BlackberryBlues.woff') format('woff'), url('../fonts/BlackberryBlues.ttf') format('truetype'), url('../fonts/BlackberryBlues.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.parallax { 
	background: url("../images/Aitor1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	height: calc(100% - 50px);
	width: 100%;
}

html, body {
    	height: 100%;
}

h1, .navbar-nav {
	font-family: 'Conv_BlackberryBlues', 'Arial', serif;
}

.scroll-chevron {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation: bounce-chevron 1.4s .4s;
    -moz-animation: bounce-chevron 1.4s .4s;
    animation: bounce-chevron 1.4s .4s;
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}
