<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="¡Bienvenid@ a mi galería de fotos! Ongietorri!">
  <image imageURL="images/galeria/Foto1.jpg"
	thumbURL="images/galeria/thumbs/Foto1.jpg"
	linkURL="images/galeria/Foto1.jpg"
	linkTarget="_blank">
	<title></title>
  </image>
  <image imageURL="images/galeria/Foto2.jpg"
	thumbURL="images/galeria/thumbs/Foto2.jpg"
	linkURL="images/galeria/Foto2.jpg"
	linkTarget="_blank">
        <caption></caption>
  </image>
   <image imageURL="images/galeria/Foto3.jpg"
	thumbURL="images/galeria/thumbs/Foto3.jpg"
	linkURL="images/galeria/Foto3.jpg"
	linkTarget="_blank">
   </image>
   <image imageURL="images/galeria/Foto4.jpg"
	thumbURL="images/galeria/thumbs/Foto4.jpg"
	linkURL="images/galeria/Foto4.jpg"
	linkTarget="_blank">
  </image>
   <image imageURL="images/galeria/Foto5.jpg"
	thumbURL="images/galeria/thumbs/Foto5.jpg"
	linkURL="images/galeria/Foto5.jpg"
	linkTarget="_blank">
    </image>
  <image imageURL="images/galeria/Foto6.jpg"
	thumbURL="images/galeria/thumbs/Foto6.jpg"
	linkURL="images/galeria/Foto6.jpg"
	linkTarget="_blank">
    </image>
  <image imageURL="images/galeria/Foto7.jpg"
	thumbURL="images/galeria/thumbs/Foto7.jpg"
	linkURL="images/galeria/Foto7.jpg"
	linkTarget="_blank">
    </image>
   <image imageURL="images/galeria/Foto8.jpg"
	thumbURL="images/galeria/thumbs/Foto8.jpg"
	linkURL="images/galeria/Foto8.jpg"
	linkTarget="_blank">
   </image>
   <image imageURL="images/galeria/Foto9.jpg"
	thumbURL="images/galeria/thumbs/Foto9.jpg"
	linkURL="images/galeria/Foto9.jpg"
	linkTarget="_blank">
   </image>
  <image imageURL="images/galeria/Foto10.jpg"
	thumbURL="images/galeria/thumbs/Foto10.jpg"
	linkURL="images/galeria/Foto10.jpg"
	linkTarget="_blank">
    </image>
   <image imageURL="images/galeria/Foto11.jpg"
	thumbURL="images/galeria/thumbs/Foto11.jpg"
	linkURL="images/galeria/Foto11.jpg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/galeria/Foto12.jpg"
	thumbURL="images/galeria/thumbs/Foto12.jpg"
	linkURL="images/galeria/Foto12.jpg"
	linkTarget="_blank">
  </image>
   <image imageURL="images/galeria/Foto13.jpg"
	thumbURL="images/galeria/thumbs/Foto13.jpg"
	linkURL="images/galeria/Foto13.jpg"
	linkTarget="_blank">
   </image>
   <image imageURL="images/galeria/Foto14.jpg"
	thumbURL="images/galeria/thumbs/Foto14.jpg"
	linkURL="images/galeria/Foto14.jpg"
	linkTarget="_blank">
  </image>
   <image imageURL="images/galeria/Foto15.jpg"
	thumbURL="images/galeria/thumbs/Foto15.jpg"
	linkURL="images/galeria/Foto15.jpg"
	linkTarget="_blank">
   </image>
  <image imageURL="images/galeria/Foto16.jpg"
	thumbURL="images/galeria/thumbs/Foto16.jpg"
	linkURL="images/galeria/Foto16.jpg"
	linkTarget="_blank">
     </image>
  <image imageURL="images/galeria/Foto17.jpg"
	thumbURL="images/galeria/thumbs/Foto17.jpg"
	linkURL="images/galeria/Foto17.jpg"
	linkTarget="_blank">
   </image>
   <image imageURL="images/galeria/Foto18.jpg"
	thumbURL="images/galeria/thumbs/Foto18.jpg"
	linkURL="images/galeria/Foto18.jpg"
	linkTarget="_blank">
    </image>
   <image imageURL="images/galeria/Foto19.jpg"
	thumbURL="images/galeria/thumbs/Foto19.jpg"
	linkURL="images/galeria/Foto19.jpg"
	linkTarget="_blank">
   </image>
  <image imageURL="images/galeria/Foto20.jpg"
	thumbURL="images/galeria/thumbs/Foto20.jpg"
	linkURL="images/galeria/Foto20.jpg"
	linkTarget="_blank">  
  </image> 
</juiceboxgallery>
